usercache.json
usernamecache.json
logs
saves
crash-reports
screenshots
*.log

*.jar
*.zip
mods

icon.png

hei_bookmarks.ini
patchouli_data.json

config/*
journeymap/*
vintagefix/*
local/*

options.txt

!config/mod-diretor
!config/defaultworldgenerator-port
!config/scalinghealth
!config/firstaid.cfg
