usercache.json
usernamecache.json
logs
saves
crash-reports
screenshots
*.log
journeymap/data

*.jar
*.zip
mods

icon.png

hei_bookmarks.ini
patchouli_data.json

config/*
journeymap/
options.txt
vintagefix/
local/

!config/mod-diretor
!config/defaultworldgenerator-port
